<div
  class="slider relative box-border w-full h-full cursor-grab touch-none select-none rounded-26 border-solid border-white bg-slider shadow-slider"
  role="slider"
  tabindex="0"
  aria-orientation="vertical"
  [attr.aria-valuemin]="min()"
  [attr.aria-valuemax]="max()"
  [attr.aria-valuenow]="value()"
  [attr.aria-label]="label()"
  [style.--fill-fraction]="fraction()"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
  (pointerup)="isDragging.set(false)"
  (pointercancel)="isDragging.set(false)"
  (keydown)="onKeydown($event)"
>
  <div #rail class="absolute left-17 top-22 w-13 h-257 rounded-6 bg-rail"></div>
  <div class="fill absolute left-17 bottom-27 w-13 rounded-6"></div>
  <div
    class="thumb absolute left-5 w-38 h-38 rounded-19 shadow-thumb"
    [class]="isDragging() ? 'cursor-grabbing dragging' : ''"
  ></div>
</div>
